<div id="accordion-express" class="express-list" role="tablist" aria-multiselectable="true">
  <label id="doc-method-listing-head" data-toggle="collapse" data-target="#express-method-list"> <h2> Express Methods </h2></label>
  <div id="doc-query-result"></div>
  <div id="express-method-list" class="collapse show">
  {{#each express}}
  <div class="card">
    <div class="card-header-search" role="tab" id="express-{{id}}-header">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion-express" href="#express-{{id}}" aria-expanded="true" aria-controls="{{link}}">
          {{name}}
        </a>
      </h5>
    </div>

    <div id="express-{{id}}" class="collapse" role="tabpanel" aria-labelledby="express-{{id}}-header">
      <div class="card-block doc-item">
        {{{detail}}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>
