<div id="accordion"  role="tablist" aria-multiselectable="true">
  <label id="mdn-result-listing-head" data-toggle="collapse" data-target="#mdn-result-list"> <h2> Express Methods </h2></label>
  <div id="mdn-page-result"></div>
  <div id="mdn-result-list" class="collapse show">
  {{#each results}}
  <div class="card">
    <div class="card-header-search" role="tab" id="{{link}}-header">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{link}}" aria-expanded="true" aria-controls="{{link}}">
          {{name}}
        </a>
      </h5>
    </div>

    <div id="{{link}}" class="collapse" role="tabpanel" aria-labelledby="{{link}}-header">
      <div class="card-block rightDiv">
        {{{description}}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>
