<div id="accordion-stack-questions" role="tablist" aria-multiselectable="true">
  <h2>Stack Questions</h2>
  {{#each questions}}
  <div class="card">
    <div class="card-header-search" role="tab" id="header-{{question_id}}">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion-stack-questions" href="#body-{{question_id}}" aria-expanded="true" aria-controls="#header-{{question_id}}">
          {{title}}
        </a>
      </h5>
    </div>
    <div id="body-{{question_id}}" class="collapse" role="tabpanel" aria-labelledby="header-{{question_id}}">
      <div class="card-block leftDiv">
        {{{body}}}
        <div id="answers-{{question_id}}">
          <button class="btn btn-primary stack-question" data-id="{{question_id}}">See Answers</button>
        </div>
      </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>
